@import '~bootstrap/scss/bootstrap';
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@1,800&display=swap');
body {
  background-color: #63776f;
}
h1 {
  font-family: 'Playfair Display', serif;
  color: #ffd919;
  text-shadow: 4px 4px #494f56;
  display: flex;
  justify-content: center;
  text-align: center
}
h2 {
  font-family: 'Playfair Display', serif;
  color: #ffd919;
  text-shadow: 4px 4px #494f56;
  display: flex;
  justify-content: center;
  text-align: center
}
h3 {
  color:  #ffd919;
  text-shadow: 4px 4px #494f56
}
#sign-up-form {
  font-family: 'Playfair Display', serif;
  color: #ffd919;
  border: .5px solid $black;
  margin: 15px;
  padding: 15px;
  background-color: #494f56;
  display: flex;
  justify-content: center;
  border-radius: 10px
}
#sign-up {
  font-family: 'Playfair Display', serif;
  border-radius: 2px
}
#sign-up:hover {
  background-color: #ffd919
}
// Sign in
#sign-in-form {
  font-family: 'Playfair Display', serif;
  color: #ffd919;
  border: .5px solid $black;
  margin: 15px;
  padding: 15px;
  background-color: #494f56;
  display: flex;
  justify-content: center;
  border-radius: 10px
}
#sign-in {
  font-family: 'Playfair Display', serif;
  border-radius: 2px
}
#sign-in:hover {
  background-color: #ffd919
}
// Sign out
#sign-out {
  font-family: 'Playfair Display', serif;
  border-radius: 2px;
}

#sign-out:hover {
  background-color: #ffd919
}
.container {
  display: flex;
  justify-content: center;
  text-align: center;
  padding: 10px
}
#change-password {
  color:  #ffd919;
  text-shadow: 4px 4px #494f56;
  font-family: 'Playfair Display', serif;
}
#create-equipment-form {
  color: #ffd919;
  font-family: 'Playfair Display', serif;
}

#read-equipment-form {
  color: #ffd919;
  font-family: 'Playfair Display', serif;
}

#update-equipment-form {
  color: #ffd919;
  font-family: 'Playfair Display', serif;
}

#delete-equipment-form {
  color: #ffd919;
  font-family: 'Playfair Display', serif;
}
#message {
  color: #ffd919;
  font-family: 'Playfair Display', serif;
}
#equipment_list {
  background-color: #ffd919;
  border-radius: 5px;
  font-family: 'Playfair Display', serif;
}
