@import '~bootstrap/scss/bootstrap';
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@1,800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Hahmlet:wght@300&display=swap');
body {
  background-color: #63776f;
}
h1 {
  font-family: 'Playfair Display', serif;
  color: #ffd919;
  text-shadow: 4px 4px #494f56;
  display: flex;
  justify-content: center;
  text-align: center
}
h2 {
  font-family: 'Playfair Display', serif;
  color: #ffd919;
  text-shadow: 4px 4px #494f56;
  display: flex;
  justify-content: center;
  text-align: center
}
h3 {
  color:  #ffd919;
  text-shadow: 4px 4px #494f56
}
h4 {
  color:  #ffd919;
  text-shadow: 4px 4px #494f56
}
#sign-up-form {
  font-family: 'Hahmlet', serif;
  color: #ffd919;
  border: .5px solid $black;
  margin: 15px;
  padding: 15px;
  background-color: #494f56;
  display: flex;
  justify-content: center;
  border-radius: 10px;
}
#sign-up {
  font-family: 'Hahmlet', serif;
  border-radius: 2px
}
#sign-up:hover {
  background-color: #ffd919
}
// Sign in
#sign-in-form {
  font-family: 'Hahmlet', serif;
  color: #ffd919;
  border: .5px solid $black;
  margin: 15px;
  padding: 15px;
  background-color: #494f56;
  border-radius: 10px;
  text-align: center;
}
#sign-in {
  font-family: 'Hahmlet', serif;
  margin: 5px;
  margin-top: 5px;
  margin-bottom: 5px;
  padding: 5px;
  border: 1px solid $black;
  border-radius: 2px;
  text-align: center;
}
#sign-in:hover {
  background-color: #ffd919
}
// Sign out
#sign-out {
  font-family: 'Hahmlet', serif;
  border-radius: 2px;
}

#sign-out:hover {
  background-color: #ffd919
}
.container {
  display: flex;
  justify-content: center;
  text-align: center;
  padding: 10px
}
#change-password {
  color:  #ffd919;
  text-shadow: 4px 4px #494f56;
  font-family: 'Hahmlet', serif;
}
#change-password-button:hover {
  background-color: #ffd919
}
#change-password-header {
  font-family: 'Playfair Display', serif;
}
#create-equipment-form {
  font-family: 'Hahmlet', serif;
  color: #ffd919;
  border: .5px solid $black;
  margin: 15px;
  padding: 15px;
  background-color: #494f56;
  display: flex;
  justify-content: center;
  border-radius: 10px;
  text-align: center;
}
#create-equipment-button:hover {
  background-color: #ffd919
}
#read-equipment-form {
  font-family: 'Hahmlet', serif;
  color: #ffd919;
  border: .5px solid $black;
  margin: 15px;
  padding: 15px;
  background-color: #494f56;
  display: flex;
  justify-content: center;
  border-radius: 10px;
  text-align: center;
}
#read-equipment-button:hover {
  background-color: #ffd919
}
#update-equipment-form {
  font-family: 'Hahmlet', serif;
  color: #ffd919;
  border: .5px solid $black;
  margin: 15px;
  padding: 15px;
  background-color: #494f56;
  display: flex;
  justify-content: center;
  border-radius: 10px;
  text-align: center;
}
#update-equipment-button:hover {
  background-color: #ffd919
}
#delete-equipment-form {
  font-family: 'Hahmlet', serif;
  color: #ffd919;
  border: .5px solid $black;
  margin: 15px;
  padding: 15px;
  background-color: #494f56;
  display: flex;
  justify-content: center;
  border-radius: 10px;
  text-align: center;
}
#delete-equipment-button:hover {
  background-color: #ffd919
}
#message {
  color: #ffd919;
  font-family: 'Playfair Display', serif;
  text-shadow: 4px 4px #000000;
  text-align: center;
}
#equipment_list {
  background-color: #ffd919;
  font-family: 'Hahmlet', serif;
  border: .5px solid $black;
  margin: 15px;
  padding: 15px;
  display: list-item;
  list-style: disc outside;
  justify-content: center;
  border-radius: 10px;
  text-align: center;
  color: #000000;
}
// ul {
//   display: list-item;
//   list-style: disc outside none;
//   border-radius: 2px
// }
li {
  list-style-type: none;
  position: relative;
  font-size: 1.5rem;
  padding: 15px;
  margin-bottom: 15px;
  background: #494f56;
  color: #fff;
  border-radius: 5px;
}
